[Unit]
Description=Split Bills Web Application
After=network.target

[Service]
Type=simple
User=doffy
WorkingDirectory=/home/doffy/workspace/rust/split-bills
ExecStart=/home/doffy/workspace/rust/split-bills/target/release/split-bills
Restart=always
Environment=RUST_LOG=info
Environment=OPENAI_API_MODEL=gpt-4o
Environment=OPENAI_API_KEY=sk-YOUR_KEY_HERE
Environment=RESEND_API_KEY=your_resend_key_here
Environment=RESEND_FROM_EMAIL=your_from_email_here

[Install]
WantedBy=multi-user.target
