[Unit]
Description=Split Bills Web Application
After=network.target

[Service]
Type=simple
User=doffy
WorkingDirectory=/home/doffy/workspace/rust/split-bills
ExecStart=/home/doffy/workspace/rust/split-bills/target/release/split-bills
Restart=always
Environment=RUST_LOG=info
Environment=OPENAI_API_MODEL=gpt-4o-mini
Environment=OPENAI_API_KEY=

[Install]
WantedBy=multi-user.target
